<html>
    <head>
        <title>Login</title>
        <link href="/assets/homeStyles.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h1>Login using...</h1>
        <br>
        <a class="google-btn" href="/auth/google">Google+</a>
    </body>

</html>